* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  display: grid;
  grid-template-columns: 200px repeat(3, 400px);
  grid-template-rows: 100px 100px repeat(2, 300px) 100px;
  gap: 10px 10px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
  grid-area: 1/1/2/5;
  display: grid;
  gap: 0;
  grid-template-columns: 240px 1fr;
}
.menu > ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.menu ul,
.menu li {
  list-style: none;
  font-size: 16px;
}

.sidebar {
  background-color: #ff7755;
  display: grid;
  grid-area: 2/1/5/2;
  gap: 30px 30px;
  grid-template-columns: 150px;
  grid-template-rows: repeat(4, 1fr);
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}

.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  background-color: #ff7755;
  grid-area: 2/2/3/5;
  display: grid;
}
.nav ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.nav ul li {
  display: grid;
  list-style: none;
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  background-color: #bccbde;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 10px 10px;
  grid-area: 3/2/5/5;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #ffffff;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  grid-area: 5/1/6/5;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}
